/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	height: 30px;
	position: relative;
	border: 1px solid #ccc;
	cursor: pointer;
	background: #fff;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.dropdown.focus{
	box-shadow: 0 0 5px rgba(51,102,248,.4);
}

/* CARAT */

.dropdown .carat{
	position: absolute;
	right: 4px;
	top: 44%;
	/*border-style: solid;*/
	/*border-width: 5px 5px 0 5px;*/
	/*border-color: #225691 transparent transparent transparent;*/

	border: 5px solid transparent;
	border-top: 5px solid #225691;
}

.dropdown.open .carat{
	margin-top: -7px;
	/*border-style: solid;*/
	/*border-width: 5px 5px 0 5px;*/
	/*border-color: #225691 transparent transparent transparent;*/
	border-top: 5px solid transparent;
	border-bottom: 5px solid #225691;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	/* 	*/
	font-size: 14px;
	line-height: 1;
	color: #3a3a3a;
	padding: 7px 10px;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	/*width: 9px;*/

	
	/*border-radius: 0 2px 2px 0;*/
	/*box-shadow: inset -55px 0 25px -20px #fff;*/
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 8px 12px;
}

.dropdown ul li:before{
	content: '';
	display: none;
}
/* .focus class is also added on hover */

.dropdown li.focus{
	background: #225691;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	font-weight: 700;
}




.select-arrow-angle,
.select-arrow-angle div,
.select-arrow-angle li,
.select-arrow-angle div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.select-arrow-angle .selected::after,
.select-arrow-angle.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.select-arrow-angle{
	margin-top: 15px;
	height: 36px;
	width: 100%;
	position: relative;
	border-radius: 5px;
	border: 1px solid #cccccc;
	cursor: pointer;
	outline: none;

	color: #cccccc;
	background: #fff;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.select-arrow-angle.open{
	z-index: 2;
}

/* CARAT */

.select-arrow-angle .carat{
	position: absolute;
	right: 4px;
	top: 44%;
	/*border-style: solid;*/
	/*border-width: 5px 5px 0 5px;*/
	/*border-color: #225691 transparent transparent transparent;*/

	border: 5px solid transparent;
	border-top: 5px solid #225691;
}

.select-arrow-angle.open .carat{
	margin-top: -7px;
	/*border-style: solid;*/
	/*border-width: 5px 5px 0 5px;*/
	/*border-color: #225691 transparent transparent transparent;*/
	border-top: 5px solid transparent;
	border-bottom: 5px solid #225691;
}

.select-arrow-angle.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.select-arrow-angle .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.select-arrow-angle select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.select-arrow-angle.touch .old{
	width: 100%;
	height: 100%;
}

.select-arrow-angle.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.select-arrow-angle .selected,
.select-arrow-angle li{
	display: block;
	color: #CCCCCC;
	font-size: 12px;
	line-height: 20px;
	padding: 7px 10px;
	overflow: hidden;
	white-space: nowrap;
}

.select-arrow-angle.disabled .selected{
	color: #999;
}

.select-arrow-angle .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	/*width: 9px;*/


	/*border-radius: 0 2px 2px 0;*/
	/*box-shadow: inset -55px 0 25px -20px #fff;*/
}

/* DROP DOWN WRAPPER */

.select-arrow-angle div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.select-arrow-angle.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.select-arrow-angle.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #fff;
}

.select-arrow-angle.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.select-arrow-angle ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.select-arrow-angle.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.select-arrow-angle li{
	list-style: none;
	padding: 8px 12px;
}

.select-arrow-angle ul li:before{
	content: '';
	display: none;
}
/* .focus class is also added on hover */

.select-arrow-angle li.focus{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #ffffff;
	position: relative;
	z-index: 3;
	color: #cccccc;
}
